a:hover {
	text-decoration: None;
}


#thread_container {
          z-index:2; 
          background-color: #ece3db; 
          color: black; 
          padding :20px; 
          border-radius : 0% / 0%;
          margin-top:1%;
          margin-left: 0%;
          width : 90%;
          margin-bottom:4%;
          overflow-y: auto;
        }

.accordion-heading:hover {
        background-color: white;
        opacity: 0.6;
        }