<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}BizMovies{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--         <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
 -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        
        
   
    
    <style>
    	body{
    		margin-top:21px;
    	}
    	.modal { display:none; }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block custom_stylesheets %}{% endblock %}
    {% block head_js %}{% endblock %}

</head>
<body>


    {% include "scripts.html" %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  

    {% block body_js %}
    {% endblock %}
</body>
</html>