{% extends "base.html" %}

{% block title %} {{ head_title }} {% endblock %}

{% block custom_stylesheets %}
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

        
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainpage.css">

{% endblock %}


{% block head_js %}
        

{% endblock %}

{% block content %}


       
        

            <div class="container-fluid">
                <div class="row-fluid">

                    <div>
                    	<h1 id="heading">chat central</h1>
                    </div>

                </div>

                {%include "threads.html"%}    

            </div>




 

{% endblock %}

{% block body_js %}

{% endblock %}



