<div class="modal fade" id="login-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <form id="login-form" class="well form-horizontal"
            action="" method="post" accept-charset="utf-8">
            <fieldset>
                <div class="control-group">
                    <div class="control-label">Username</div>
                    <div class="controls">
                        <input id="login_username" name="username" type="text" value="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Password</div>
                    <div class="controls">
                        <input id="login_password" name="password" type="password" value="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Login"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <form class="well form-horizontal" style="text-align: center;">
            <h4>Don't have an account yet?</h4>
            <a data-toggle="modal" data-dismiss="modal" data-target="#signup-modal" class="btn btn-large btn-success" style="width:50%" href="#">SIGNUP</a>
        </form>
    </div>
</div>
<script type="text/javascript">
var pathname = window.location.pathname;
// console.log(pathname)
document.getElementById('login-form').action = "/login" + pathname
// console.log(document.getElementById('login-form').action )
</script>

