    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/nod.js"></script>
    
     <!-- <script src="{{ STATIC_URL }}js/bootstrap.js"></script> -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>


  




