<div class="modal fade" id="signup-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Signup</h3>
    </div>
    
    <div class="modal-body">
        <form id="signup-form" class="well form-horizontal"
            action="" method="post" accept-charset="utf-8">
            <fieldset>

                <div class="control-group">
                    <div class="control-label">Username</div>
                    <div class="controls">
                        <input id="username" name="username" type="text" placeholder="any alphanumeric text" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">Email</div>
                    <div class="controls">
                        <input id="email" name="email" type="text" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">First Name</div>
                    <div class="controls">
                        <input id="first_name" name="first_name" type="text" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">Last Name</div>
                    <div class="controls">
                        <input id="last_name" name="last_name" type="text" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">Password</div>
                    <div class="controls">
                        <input id="password" name="password" type="password" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">Verify Password</div>
                    <div class="controls">
                        <input id="verify_password" name="verify_password" type="password" value="">
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">{{ form.keywords.label }}</div>
                    <div class="controls">
                        {{ form.keywords|safe }}
                        {% if form.keywords.errors %}
                        <ul class="errors">
                            {% for error in form.keywords.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" id="signup_submit" type="submit" value="Sign Up"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
var pathname = window.location.pathname;
// console.log(pathname)
document.getElementById('signup-form').action = "/signup" + pathname
// console.log(document.getElementById('signup-form').action )
</script>