                                      {% for comment in comments%}

                                      <div class="accordion" id="accordion2">
                                        
                                          <div class="accordion-group">
                                            <div class="accordion-heading" style="color:black;">
                                              <li><a style="color:black;" href="#comment{{comment.id}}"                      
                                                      data-parent="#accordion2" data-toggle="collapse">
                                                     <h4> {{comment.comment}} &nbsp; &nbsp; &nbsp; &nbsp; {{comment.datetime_created}} &nbsp; &nbsp; &nbsp;{{comment.status}} &nbsp; &nbsp; <strong>
                                                      {%if not comment.commenter%}
                                                     ---  Stranger
                                                      {%else%}
                                                      --- {{comment.commenter}}
                                                      {%endif%}
                                                      </strong>
                                                    </h4>
                                                  </a>
                                              </li>
                                            </div>

                                            <div id="comment{{comment.id}}" class="accordion body collapse in">
                                              <div class="accordion-inner">

                                                <div id="reply_container{{comment.id}}" style="float:right">


                                                            {% for replies_to_comment in replies%}

                                                              {%for reply in replies_to_comment%}

                                                                {%if reply.comment.id = comment.id %}

                                                                  <h5> {{reply.reply}} &nbsp; &nbsp; {{reply.datetime_created}} &nbsp; &nbsp;
                                                                    {%if not reply.replier%}
                                                                      -- Stranger
                                                                    {%else%}
                                                                      -- {{reply.replier}}
                                                                    {%endif%}  
                                                                  </h5>

                                                                {%endif%}

                                                              {%endfor%}

                                                            {%endfor%}
                                                          
                                                </div>

                                              

                                                    <p>
                                                  
                                                                             
                                                  <!-- <form method="post" action"." style="margin-left:25%"> -->
                                                  <div style="margin-left:25%">

                                                   <input id="reply_input_to_{{comment.id}}" type="text" name="reply" class="span10"> 

                                                  <!--  <input id="replied_to_comment_{{comment.id}}" style="display:none;" name="replied_comment_id" value="{{comment.id}}"> -->

                                                     <button onclick="loadXMLDoc_for_reply(reply_input_to_{{comment.id}},{{comment.id}})" id="reply_button_for_{{comment.id}}" type="submit" class="badge badge-success" name="post_reply" value="post_reply" style="">^Comment</button>

                                                  </div>
                                                  <!-- </form> -->
                                                
                                                 
                                                    </p>
                                          


                                              </div>
                                            </div>

                                         <!--  </ul> -->                                

                                        </div>
                                      </div>


                                       {%endfor%}