                        <div id="thread_container">

                                
                                  <form action="." method="post">
                                      <ui style="list-style-type:None;">
                                      <li>
                                          <input id="post_input" type="text" name="comment" class="span12">
                                          <button id="post_button" type="submit" class="badge badge-important" name="post_comment" value="post_comment" style="float: right;">Post</button>
                                      </li>
                                      </ui>
                                  </form>
                

                                  <h3>Topics:</h3>
                                  <!-- <ul style="list-style-type:decimal;"> -->

                                      {%include "thread_structure.html"%}


                                     
                                 <!--  </ul> -->

                        </div>



<script type="text/javascript">

    // function loadXMLDoc()
    // {
    // var xmlhttp;
    // if (window.XMLHttpRequest)
    //   {// code for IE7+, Firefox, Chrome, Opera, Safari
    //   xmlhttp=new XMLHttpRequest();
    //   }
    // else
    //   {// code for IE6, IE5
    //   xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    //   }
    // xmlhttp.onreadystatechange=function()
    //   {
    //   if (xmlhttp.readyState==4 && xmlhttp.status==200)
    //     {
    //     document.getElementById("heading").innerHTML=xmlhttp.responseText;
    //     }
    //   }

    // post_input = document.getElementById("post_input").value;
    

    // xmlhttp.open("POST","submit_response/",true);
    // xmlhttp.send(post_input);
    // }

</script>

<script type="text/javascript">

    function loadXMLDoc_for_reply(id_of_reply_input, replied_to_comment)
    {
    var xmlhttp;
    if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      }
    else
      {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {

        target = document.getElementById('reply_container'+replied_to_comment);
                    console.log(target);
                    var h_node=document.createElement("H5");
                    var h_innertext_node=document.createTextNode(xmlhttp.responseText);
                    h_node.appendChild(h_innertext_node);
                    target.appendChild(h_node);

        }
      }
    console.log('reply_container'+replied_to_comment);
    console.log(id_of_reply_input);
    console.log(replied_to_comment);
    
    // console.log(document.getElementById('comment'+replied_to_comment))
    reply_input = (id_of_reply_input).value;
    replied_to_comment = replied_to_comment;
    
    xmlhttp.open("POST","submit_response/",true);

    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");

    xmlhttp.send('comment_id=' + replied_to_comment +'&reply=' + reply_input);

    id_of_reply_input.value = null;
    }


</script>

<script type="text/javascript">



// post_button = document.getElementById("post_button");
// post_button.addEventListener('click', loadXMLDoc , false);

// reply_button = document.getElementById("reply_button_for");
// reply_button.addEventListener('click', loadXMLDoc_for_reply, false);

</script>